# User-specific files
# *.rsuser
.suo
# *.user
# *.userosscache
# *.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
# *.userprefs

# Build results
# [Dd]ebug/
# [Dd]ebugPublic/
# [Rr]elease/
# [Rr]eleases/
# x64/
# x86/
# bld/
#[Bb]in/
#[Oo]bj/
# [Ll]og/
\obj\Debug


# .NET Core
# project.lock.json
# project.fragment.lock.json
# artifacts/


# Visual Studio cache files
# files ending in .cache can be ignored
*.cache
*/*.csproj.AssemblyReference.cache
# but keep track of directories ending in .cache
 !*.[Cc]ache/

.vs/QLVT_DATHANG/v16/.suo
QLVT_DATHANG/bin/Debug/QLVT_DATHANG.exe
QLVT_DATHANG/bin/Debug/QLVT_DATHANG.pdb
*.cache
QLVT_DATHANG/obj/Debug/QLVT_DATHANG.exe
QLVT_DATHANG/obj/Debug/QLVT_DATHANG.pdb
